DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=smartinv
POSTGRES_USER=smartinv
POSTGRES_PASSWORD=smartinv

PGADMIN_DEFAULT_EMAIL=admin@smartinv.local
PGADMIN_DEFAULT_PASSWORD=admin
